.site-header {
  background-color: transparent;
  transition: background-color 200ms ease, box-shadow 200ms ease;
}
.site-header .header-inner:after {
  content: "";
  height: 1px;
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
}
.site-header.site-header--dark .header-inner {
  color: white;
}
.site-header.site-header--dark .header-inner:after {
  background: var(--color-neutral-100);
}
.site-header.site-header--dark .header-inner .logo-dark {
  display: block;
}
.site-header.site-header--dark .header-inner .logo-light {
  display: none;
}
.site-header.site-header--light .header-inner:after {
  background: var(--color-neutral-100);
}
.site-header.site-header--light .header-inner .logo-dark {
  display: none;
}
.site-header.site-header--light .header-inner .logo-light {
  display: block;
}
.site-header.site-header--sticky {
  background-color: var(--color-light-bg);
}
.site-header.site-header--sticky.site-header--dark {
  background-color: var(--color-dark);
}
.site-header.site-header--sticky.site-header--light {
  background-color: var(--color-light-bg);
}

.field-rtl {
  direction: ltr;
  text-align: left;
}
.field-rtl::placeholder {
  direction: rtl;
  text-align: right;
  unicode-bidi: plaintext;
}

.cta-link {
  display: inline-flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
  min-height: 38px;
  padding: 7px;
  border-radius: 12px;
  color: white;
  text-decoration: none;
  transition: 200ms background-color;
  border: 1px solid;
  cursor: pointer;
}
.cta-link.cta-has-icon {
  padding: 7px 14px 7px 7px;
}
.cta-link.cta-btn-primary {
  background: var(--color-blue-primary);
  border-color: var(--color-blue-primary);
}
.cta-link.cta-btn-primary.cta-opacity-style {
  background: var(--color-primary-50);
  color: var(--color-blue-primary);
}
.cta-link.cta-btn-primary.cta-opacity-style:hover {
  background: var(--color-blue-primary);
  color: white;
}
.cta-link.cta-btn-primary:hover {
  background: var(--color-primary-600);
  border-color: var(--color-primary-600);
}
.cta-link.cta-btn-primary:hover .icon {
  stroke: var(--color-primary-600);
}
.cta-link.cta-has-icon {
  padding: 7px 14px 7px 7px;
}
.cta-link.cta-btn-secondary {
  background: var(--color-yellow-primary);
  border-color: var(--color-yellow-primary);
}
.cta-link.cta-btn-secondary.cta-opacity-style {
  background: var(--color-scondary-50);
  color: var(--color-yellow-primary);
}
.cta-link.cta-btn-secondary.cta-opacity-style:hover {
  background: var(--color-scondary-500);
  border-color: var(--color-scondary-500);
  color: white;
}
.cta-link.cta-btn-secondary:hover {
  background: var(--color-scondary-600);
}
.cta-link .icon {
  width: 32px;
  height: 32px;
  border-radius: var(--radius-1);
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--color-blue-primary);
}
.cta-link .icon svg {
  transition: 200ms;
}

.site-footer .copyright:after {
  content: "";
  height: 1px;
  top: 0;
  right: -20px;
  left: -20px;
  position: absolute;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.02) 0%, rgba(255, 255, 255, 0.26) 50%, rgba(255, 255, 255, 0.02) 100%);
}

.gradient-shape {
  position: absolute;
  width: 1000px;
  height: 99px;
  background: linear-gradient(180deg, rgba(59, 86, 255, 0.12) 0%, rgba(59, 86, 255, 0.03) 50%, rgba(35, 52, 153, 0) 77%);
}
.gradient-shape .rounded-shape {
  width: 102px;
  height: 99px;
  position: absolute;
}
.gradient-shape.shape-right {
  left: 100%;
  margin-left: 240px;
}
.gradient-shape.shape-right .rounded-shape {
  right: 100%;
}
.gradient-shape.shape-left {
  right: 100%;
  transform: scaleX(-1);
  margin-right: 240px;
}
.gradient-shape.shape-left .rounded-shape {
  right: 100%;
}

.banner-section {
  padding-top: var(--banner-padding-top-mobile, var(--banner-padding-top, 0px));
  padding-bottom: var(--banner-padding-bottom-mobile, var(--banner-padding-bottom, 0px));
}
.banner-section .banner-picture {
  border-radius: 32px;
}

@media (min-width: 1280px) {
  .banner-section {
    padding-top: var(--banner-padding-top, 0px);
    padding-bottom: var(--banner-padding-bottom, 0px);
  }
}
.seo-box-section .seco-box-block {
  width: 846px;
  max-width: 100%;
}
.seo-box-section .seco-box-block .seo-box-title {
  color: var(--color-neutral-900);
  margin-bottom: 16px;
}
.seo-box-section .seco-box-block .seo-box-content {
  text-align: justify;
  color: var(--color-neutral-500);
  margin-bottom: 20px;
}
.seo-box-section .seco-box-block .seo-box-toggle {
  display: flex;
  align-items: center;
  color: var(--color-blue-primary);
  cursor: pointer;
  gap: 9px;
}
.seo-box-section .seco-box-block .seo-box-toggle svg {
  fill: currentColor;
}

@media (max-width: 1024px) {
  .site-header:after {
    right: 0;
    left: 0;
  }
}
