.site-header {
  &:after {
    content: '';
    height: 1px;
    bottom: 0;
    right: 20px;
    left: 20px;
    position: absolute;
  }

  &.site-header--dark {
    color: white;

    &:after {
      background: linear-gradient(to right, rgba(255, 255, 255, 0.02) 0%, rgba(255, 255, 255, 0.26) 50%, rgba(255, 255, 255, 0.02) 100%);
    }

    .logo-dark {
      display: block;
    }

    .logo-light {
      display: none;
    }
  }

  &.site-header--light {
    background: #F6F8FE;
    fill: var(--color-blue-primary);
    color: var(--color-dark);

    &:after {
      background: linear-gradient(to right, rgba(0, 0, 0, 0.02) 0%, rgba(0, 0, 0, 0.08) 50%, rgba(0, 0, 0, 0.02) 100%);
    }

    .logo-dark {
      display: none;
    }

    .logo-light {
      display: block;
    }
  }
}

.bottom-fade {
  &:before {
    content: '';
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    height: 200px;
    background: linear-gradient(to bottom, rgba(7, 4, 29, 0) 0%, rgba(7, 4, 29, 0) 68%, rgba(7, 4, 29, 1) 100%);
    z-index: 2;
  }
}

.field-rtl {
  direction: ltr;
  text-align: left;

  &::placeholder {
    direction: rtl;
    text-align: right;
    unicode-bidi: plaintext;
  }
}

.cta-link {
  display: inline-flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
  min-height: 40px;
  padding: 8px 15px 8px 8px;
  border-radius: 999px;
  background: var(--color-blue-primary);
  color: white;
  text-decoration: none;
  transition: 200ms background-color;

  .icon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    stroke: var(--color-blue-primary);
    transition: 200ms;
  }

  &:hover {
    background: var(--color-primary-600);

    .icon {
      stroke: var(--color-primary-600);
      transform: rotate(45deg);
    }
  }
}

.site-footer {
  .copyright {
    &:after {
      content: '';
      height: 1px;
      top: 0;
      right: -20px;
      left: -20px;
      position: absolute;
      background: linear-gradient(to right, rgba(255, 255, 255, 0.02) 0%, rgba(255, 255, 255, 0.26) 50%, rgba(255, 255, 255, 0.02) 100%);
    }
  }
}

.gradient-shape {
  position: absolute;
  width: 1000px;
  height: 99px;
  background: linear-gradient(180deg, rgba(59, 86, 255, 0.12) 0%, rgba(59, 86, 255, 0.03) 50%, rgba(35, 52, 153, 0) 77%);


  .rounded-shape {
    width: 102px;
    height: 99px;
    position: absolute;
  }

  &.shape-right {
    left: 100%;
    margin-left: 240px;

    .rounded-shape {
      right: 100%;
    }
  }

  &.shape-left {
    right: 100%;
    transform: scaleX(-1);
    margin-right: 240px;

    .rounded-shape {
      right: 100%;
    }
  }
}

@media (max-width: 1024px) {
  .site-header {
    &:after {
      right: 0;
      left: 0;
    }
  }
}