@import "tailwindcss";
@import "./scss/app.min.css";

@font-face {
    font-family: "Peyda";
    font-display: swap;
    src: url("../fonts/peyda/PeydaWebFaNum-Light.woff2") format("woff2");
    font-weight: 300;
}

@font-face {
    font-family: "Peyda";
    font-display: swap;
    src: url("../fonts/peyda/PeydaWebFaNum-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Peyda";
    font-display: swap;
    src: url("../fonts/peyda/PeydaWebFaNum-Medium.woff2") format("woff2");
    font-weight: 500;
}

@font-face {
    font-family: "Peyda";
    font-display: swap;
    src: url("../fonts/peyda/PeydaWebFaNum-Bold.woff2") format("woff2");
    font-weight: bold;
}

html,
body {
    font-family: "Peyda", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden !important;
    max-width: 100% !important;
    color: var(--color-black);
    font-size: 16px;
    background: var(--color-light-bg);
}

input:focus {
    outline: none;
}

/* Swiper */
.swiper {
    width: 100%;
    height: 100%;
}

@theme {
    --color-light-bg: #F6F8FE;

    --color-dark: #07041D;
    --color-blue-primary: #1844DA;
    --color-yellow-primary: #FFA500;

    --color-primary-50: #EAEEFF;
    --color-primary-500: #1844DA;
    --color-primary-600: #0830B8;
    --color-primary-700: #002296;

    --color-scondary-50: #FFF6E5;
    --color-scondary-500: #FFA500;
    --color-secondry-700: #AD7000;

    --color-neutral-100: #DDDFE3;
    --color-neutral-300: #8B94A4;
    --color-neutral-500: #454C58;
    --color-neutral-900: #121316;

    --color-description: #8585A5;
    --color-description-light: #9595B1;



    /* Typography */
    --text-body-2: 18px;
    --text-body-2--line-height: 32px;
    --text-body-2--font-weight: 400;
    --text-body-mobile-2: 14px;
    --text-body-mobile-2--line-height: 24px;
    --text-body-mobile-2--font-weight: 400;

    --text-body-3: 1rem;
    --text-body-3--line-height: 1.75rem;
    --text-body-mobile-3: 14px;
    --text-body-mobile-3--line-height: 32px;

    --text-desktop-h2: 32px;
    --text-desktop-h2--line-height: 44px;
    --text-desktop-h2--font-weight: 600;
    --text-mobile-h2: 22px;
    --text-mobile-h2--line-height: 32px;
    --text-mobile-h2--font-weight: 600;

    --text-desktop-h3: 28px;
    --text-desktop-h3--line-height: 40px;
    --text-desktop-h3--font-weight: 600;
    --text-mobile-h3: 18px;
    --text-mobile-h3--line-height: 24px;
    --text-mobile-h3--font-weight: 600;

    --text-desktop-h5: 20px;
    --text-desktop-h5--line-height: 28px;

    --text-desktop-h6: 16px;
    --text-desktop-h6--line-height: 32px;
    --text-mobile-h6: 16px;
    --text-mobile-h6--line-height: 32px;

    --text-caption: 14px;
    --text-caption--line-height: 32px;
    --text-caption-mobile: 12px;
    --text-caption-mobile--line-height: 20px;

    --shadow-mellow: 0px 1.85px 3.15px rgba(24, 77, 218, 0.0048),
    0px 8.15px 6.52px rgba(24, 77, 218, 0.0079),
    0px 20px 13px rgba(24, 77, 218, 0.01),
    0px 38.52px 25.48px rgba(24, 77, 218, 0.0121),
    0px 64.81px 46.85px rgba(24, 77, 218, 0.0152),
    0px 100px 80px rgba(24, 77, 218, 0.02);

    --shadow-mellow-blue: 0px 100px 80px rgba(24, 68, 218, 0.02),
    0px 65px 47px rgba(24, 68, 218, 0.0151852),
    0px 39px 25px rgba(24, 68, 218, 0.0121481),
    0px 20px 13px rgba(24, 68, 218, 0.01),
    0px 8px 7px rgba(24, 68, 218, 0.00785185),
    0px 2px 3px rgba(24, 68, 218, 0.00481481);

    --radius-1: 12px;
    --radius-1_5: 16px;
    --radius-2: 24px;
}

@layer utilities {
    .container {
        width: 100%;
        max-width: 1312px;
        margin-inline: auto;
        padding-inline: 16px;
    }
}